@media only screen and (min-width:550px) and (max-width:850px){
   
    .logo{
        display: none;
    }
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-in-out;
        height: 250px;
    }
   
    #search{
        width: 80%;
        margin-bottom: 10px;
    }
    .Right-nav{
        text-align: center;
    }
    .burger{
        
        display: block;
    }
    .b-logo{
        display: inline-block;
    }
    
    .h-nav{
        height: 44px;
    }
    .opacity0{
        opacity: 0;
    }
    .main-box{
      
        flex-direction: column-reverse;

        max-width: 100%;
        padding: 20px;
    }
    .Right-box img{
        width:200px;

    }
    
    

    .first-section {
        height: 80vh;
    }
    .text-big{
        text-align: center;
    }
    .databox{
        height: 225px;
        
}
    .imgbox{
        height: 200px;
    }
    .button{
        text-align: center;
    }
    
}
@media only screen and (min-width:350px) and (max-width:550px){
   
    .logo{
        display: none;
    }
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-in-out;
        height: 250px;
    }
   
    #search{
        width: 80%;
        margin-bottom: 10px;
    }
    .Right-nav{
        text-align: center;
    }
    .burger{
        
        display: block;
    }
    .b-logo{
        display: inline-block;
        width: 10%;
    }
    
    .h-nav{
        height: 44px;
    }
    .opacity0{
        opacity: 0;
    }
    .main-box{
      
        flex-direction: column-reverse;

        max-width: 100%;
        padding: 20px;
    }
    .Right-box{
       width: 50%;
    }
    .Right-box img{
        width:200px;
        

    }
    
    

    .first-section {
        height: 80vh;
    }
    .text-big{
        text-align: center;
    }
    .button{
        text-align: center;
    }
   



    .box{
        display: flex;
        flex-direction: column;
        width: 85%;   
        justify-content: center;
        margin: auto;
        border-radius: 11px;
        
    }
    .databox{
        background: rgb(243 236 243);
        width: 100%;
        border-radius: 25px;
        margin-left: 0px;
        box-shadow: 3px 3px 3px 3px #9a9999;
        margin-bottom: 20px;
       
    }
    .imgbox{
        height: 257px;
        background: wheat;
        width: 94%;
        margin: auto;
        /* margin-left: 10px; */
        margin-top: 10px;
        border-radius: 24px;
    }
    .serviceimage{
        width: 100%;
        height: 257px;
        border-radius: 15px;
    }
    .heading{
        font-size: 25px;
        padding: 21px;
        font-weight: 800;
        text-align: center;
    }
    .designdetail{
        margin: 17px;
        text-align: center;
    }
     
    
    
      
      
      
    
    .thumbnail{
        padding-top: 60px;
        padding-left: 20px;
    }
    .thumbnail img{
        border: 2px solid red;
        border-radius: 34px;
        width: 200px;
        margin-top: 20px;
    }
    .main-box-3{
        display: flex;
        flex-direction: row-reverse;
        width: 80%;
        margin: auto;
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 16px;
       
    }
    
    .center-text{
        text-align: center;
        padding: 25px;
    }
    .contact{
        padding-top: 25vh;
        flex-direction: column-reverse;
    }
    .c_background{
        height: 150vh;
    }

    .form-box{
        width: 80vw;
    }
    .form{
    
        margin: auto;
        max-width: 350px;
    }
    
    .form input{
        width: 100%;
        font-size: 18px;
        margin: 10px 0px;
        padding-left: 10px;
        border: none;
        border-bottom: black solid 2px;
        border-radius: 5px
    }
    .button1{
        text-align: center;
        justify-content: center;
        margin: auto;
        padding: 12px;
    }
    .submit-btn{
        padding: 4px 18px;
        font-size: 17px;
        border-radius: 10px;
        border: 3px solid darkgreen;
        cursor: pointer;
        
    }
    .submit-btn:hover{
        background-color: blue;
        color: white;
    }
    /* .cbackground{
        height: 0px;
    } */
    
    .footer-text{
        width: 100%;
        margin: auto;
    }

    
    
    .subfooter{
        /* background: #b4aaaa; */
        height: 50vh;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        /* padding-top: 15px; */
        gap: 3.5vh;
    }
    .ftr{
        /* background: wheat; */
        height: auto;
        width: 35%;
        margin: auto;
    }
   
    
    .ftr p{
        font-size: 14px;
        font-weight: bold;
    }
    
    
}